@layer components {
  .hero-round-gradient {
    @apply absolute top-[-400px] left-[-400px];
    @apply w-[800px] md:w-[300px] h-[800px] md:w-[300px];
    @apply blur-[200px] rounded-[800px];
    background: rgba(20, 28, 72, 0.6);
  }
  .hero-ellipse-gradient {
    @apply absolute top-[-216px] w-[716px] h-[396px] shrink-0;
    @apply blur-[200px] rounded-[716px];
    background: rgba(20, 28, 72, 0.6);
  }
  .hero-bg {
    @apply bg-right-top bg-no-repeat bg-[length:1799px_760px];
  }
  .hero-title {
    background: linear-gradient(102deg, rgba(109, 156, 246, 0.7) -11.46%, #fff 46.19%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .form-border {
    background: linear-gradient(
      90deg,
      rgba(27, 36, 79, 1),
      rgba(39, 56, 113, 1),
      rgba(44, 66, 127, 1)
    );
  }
  .form-bg {
    background: linear-gradient(269deg, rgba(24, 38, 74, 0.8) 22.75%, rgba(15, 22, 49, 0.8) 93.35%);
  }
  .form-text {
    opacity: 0.8;
    background: linear-gradient(90deg, #c8d6f2 0%, #adc2ec 32.41%, #9eb7e8 71.97%, #97b1e6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
